@model IEnumerable<string>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="admin-menu">@Translation.Administration<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="admin-menu">
        @foreach (var adminController in Model)
        {
            <li>@Html.ActionLink(adminController, Actions.Index, adminController, new { area = Areas.Administration }, new { })</li>
        }
    </ul>
</li>