@using Config
@using Web.Infrastructure.Constants
@model IEnumerable<string>

<li class="dropdown open">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="admin-menu">Administration<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="admin-menu">
        @foreach (var adminName in Model)
        {
            @Html.ActionLink(@adminName, @adminName, GlobalConstants.AdministratorRoleName, new { area = Areas.Administration, @class = "text-center" })
        }
    </ul>
</li>