@{
    ViewBag.Title = Translation.ConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink(Translation.ClickHereToLogIn, Actions.Login, Controllers.Account, null, new { id = "loginLink" })
    </p>
</div>
