@model IEnumerable<Web.ViewModels.Content.PageViewModel>
@{
    ViewBag.Title = Translation.Pages;
}
<h4>@ViewBag.Title</h4>
@{
    Html.RenderPartial(Partials.AdminPagesListPartial, Model);
}
@Html.Action(Actions.Pager, Controllers.Pages, new { area = Areas.Administration })
@Html.ActionLink(Translation.CreatePage, Actions.Create, Controllers.Pages, new { area = Areas.Administration }, new { @class = "btn btn-default col-md-offset-5" })
@section scripts {
    @Scripts.Render(ClientResources.JQueryUnobtrusive)
}