
@{
    ViewBag.Title = Translation.PageNotFound;
}

<div class="row">
    <h1 class="col-md-10">404: @ViewBag.Title</h1>
    <img class="kitten col-md-2" src="~/Content/Images/lost-kitten.jpg"/>
</div>