@model IEnumerable<Web.ViewModels.Content.CategoryViewModel>
@{
    ViewBag.Title = Translation.LatestPosts;
}

<h1>@Translation.LatestPosts</h1>
<ul class="nav nav-pills nav-stacked">
    @foreach (var post in Model)
    {
        <li>@Html.RouteLink(post.Title, PostRoute.Name, new { area = string.Empty, id = post.Id, friendlyUrl = post.FriendlyUrl })</li>
    }
</ul>
