@model Web.Models.Content.PostViewModel
@using Web.Infrastructure.Constants

@{
    ViewBag.Title = Model.Title;
}

@section MetaInformation {
    @Html.Partial(Partials.Seo, Model)
}

<article>
    <h1>@Html.RouteLink(Model.Title, PostRoute.Name, new { area = string.Empty, id = Model.Id, friendlyUrl = Model.FriendlyUrl })</h1>
    <hr/>
    <div class="body-content">
        @Html.Raw(Model.Content)     
    </div>
</article>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
