@model System.Collections.Generic.List<Web.Models.Content.PostViewModel>

@{
    ViewBag.Title = "Latest posts";
}

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title - @item.CreatedOn</li>
    }
</ul>
