@model List<Web.Models.Content.PostViewModel>
@using Web.Infrastructure.Constants

@{
    ViewBag.Title = "Latest posts";
}

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.RouteLink(item.Title, PostRoute.Name, new { area = string.Empty, id = item.Id, friendlyUrl = item.FriendlyUrl })</li>
    }
</ul>
