@model IEnumerable<Web.ViewModels.Content.PostViewModel>
@{
    ViewBag.Title = Translation.LatestPosts;
}

<h1>@ViewBag.Title</h1>
@{
    Html.RenderPartial(Partials.PostsListPartial, Model);
}

@Html.Action(Actions.Pager, Controllers.Posts, new { area = string.Empty })
