<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Config.ApplicationSettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Config.ApplicationSettings>
      <setting name="PageSize" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>Content Rocks CMS</value>
      </setting>
      <setting name="ConnectionName" serializeAs="String">
        <value>DefaultConnection</value>
      </setting>
      <setting name="FacebookApiKey" serializeAs="String">
        <value>FacebookApiKey</value>
      </setting>
      <setting name="FacebookSecretKey" serializeAs="String">
        <value>FacebookSecretKey</value>
      </setting>
      <setting name="HomeAdvert" serializeAs="String">
        <value>ContentRocks is a small, lightweight, yet extensible content management system made with ASP.NET MVC</value>
      </setting>
      <setting name="HomePostsCacheTimeInHours" serializeAs="String">
        <value>1</value>
      </setting>
    </Config.ApplicationSettings>
  </applicationSettings>
</configuration>