@model IEnumerable<Web.ViewModels.Content.PostViewModel>
@{
    ViewBag.Title = Translation.Home;
}

<div class="jumbotron">
    <h1>@GlobalConstants.SiteName</h1>
    <p class="lead">@GlobalConstants.HomeAdvert</p>
</div>

<div class="row">
    @foreach (var post in Model)
    {
        Html.RenderPartial(Partials.PostShortPartial, post);
    }
</div>