@{
    ViewBag.Title = string.Format("{0}: {1}", Response.StatusCode, Response.StatusDescription);
}
<div class="row">
    <h1 class="col-md-10">@ViewBag.Title</h1>
    <img class="kitten col-md-2" src="~/Content/Images/lost-kitten.jpg"/>
</div>