@model IEnumerable<Web.ViewModels.Content.PostViewModel>
@{
    ViewBag.Title = Translation.LatestPosts;
}

<h4>@ViewBag.Title</h4>

@{
    Html.RenderPartial(Partials.AdminPostsListPartial, Model);
}

@Html.Action(Actions.Pager, Controllers.Posts, new { area = string.Empty })
@Html.ActionLink(Translation.CreateBlogPost, Actions.Create, Controllers.Posts, 
new { area = Areas.Administration }, new { @class = "btn btn-default col-md-offset-5" })
@section scripts {
    @Scripts.Render(ClientResources.JQueryUnobtrusive)
}