@model List<Web.ViewModels.Content.CommentViewModel>

@{
    ViewBag.Title = Translation.Comment;
}

<h4>@ViewBag.Title</h4>

@{
    Html.RenderPartial(Partials.AdminCommentsListPartial, Model);
}
@Html.Action(Actions.Pager, Controllers.Comments, new { area = Areas.Administration })
@section scripts {
    @Scripts.Render(ClientResources.JQueryUnobtrusive)
}