@model IEnumerable<Web.ViewModels.Content.CategoryViewModel>
@{
    ViewBag.Title = Translation.Categories;
}

<h1>@ViewBag.Title</h1>
@{
    Html.RenderPartial(Partials.AdminCategoriesListPartial, Model);
}
@Html.ActionLink(Translation.CreateNewCategory, Actions.Create, Controllers.Category, new { area = Areas.Administration }, new { @class = "btn btn-default col-md-offset-5" })
@section scripts {
  @Scripts.Render(ClientResources.JQueryUnobtrusive)  
}