body {
    padding-bottom: 20px;
    padding-top: 80px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

.article-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

header .glyphicon {
    padding-left: 5px;
    padding-right: 5px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    -ms-opacity: 0;
    opacity: 0;
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

.copy-button {
    font-size: 2rem;
}