@{
    Response.StatusCode = 404;
    ViewBag.Title = "404 Not Found";
    
}<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>@ViewBag.Title</h1>
    </div>
</body>
</html>
